.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
    
/* unvisited link */
a:link {
    color: #f6f7f9;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #669999;
    text-decoration: none;
}

/* mouse over link 
a:hover {
    color: #33CCCC;
    text-decoration: underline;
}*/

/* selected link 
a:active {
    color: #33CCCC;
    text-decoration: underline;
}   */   


.headerWrapperHome {
    width: 100%;
    height: 120px;
    margin: 0%;
    background-color: #f6f7f9;
    border-color: #000;
    
}

/*h1 {
    color: #29323d;
    float:left;
    margin-right: 2.5%;
    margin-left:2.5%;
    margin-bottom: 0%;
    font-size: 4.5em;
}*/

#logoPages {
    width: 100%;
    height: auto;
}

.socialMediaIconsFirst {
    max-height: 181px;
    width:auto;
    margin: 80px 10px 0px 50px;
}

.socialMediaIcons {
    max-height: 181px;
    width:auto;
    margin: 80px 10px 0px 10px;
    
}
    
.headerWrapperHome img {
    height: 20px;
    width:auto;
    
}
body {
    width:100%;
    height: 80%;
    margin: 0%;
    background-color: #f6f7f9;
    /*border-color: #000;
    border-radius: 0px;*/
    
}



#mainBackground {
    width: 1024px;
    height: 681px;
    margin:0%;
    
    /*border-bottom-color: #f6f7f9;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;*/
   
    
    
}

.navBarHome {
    width: 100%;
    height: 15%;
    margin: 0% ;
    background-color: #3b4859;
    border-color: #000;
    float:left;
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navBarHome h3{
    font-size: 1.5em;
    color: #f6f7f9
}

.navBarFirstPages {
    width:9%;
    height:100%;
    margin:3.5% 7.5% 0% 7.5%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarSecondPages {
    width:9%;
    height:100%;
    margin:1.5% 7.5% 0% 2%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarThirdPages {
    width:9%;
    height:100%;
    margin:.5% 7.5% 0% 2%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarForthPages {
    width:9%;
    height:100%;
    margin:3% 5% 0% 5%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarFifthPages {
    width:9%;
    height:100%;
    margin:3% 0% 0% 1%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.sideBarTop {
    width: 25%;
    height: auto;
    margin: 0% 2.5% 0% 72.5%;
    background-color: #3b4859;
    /*border-color: #000;
    border-bottom-right-radius: 0px;*/
    float:left;
}

#first {
    font-size: 2em;
}

#contact {
    font-size: 4em;
}

#email {
    font-size: 3em;
}

#phone {
    font-size: 3em;
}

#firstLessons{
    font-size: 2em;
    margin-left: 5%;
}

.indent {
    margin-left: 5%
}

#question {
    font-size: 2em;
    font-style: italic;
}

#answer {
    font-size: 2em;
    margin-right: 20%;
}

.optionsBullet {
    margin-left:10%;
}

.optionsBullet li {
    list-style-type: none;
}

#headline {
    font-size: 4em;
}

#galleryThumb {
   width: 90%;
   margin: 5%;
    border-radius: 5px;
   
}

.pagesImg {
    width:100%;
    height: auto;
}

p {
    color: #f6f7f9;
    margin:2%;
    padding: 2% 2% 2% 2%;
}

#bio {
    margin: 2% 5% 0% 5%;
    font-size: 1em;
}

#bio_small {
    margin: 2% 0% 0% 0%;
    font-size: .8em;
}
    
.sideBarBottomPages {
    width: 100%;
    height: auto;
    margin: 0%; 
    background-color: #f6f7f9;
    /*border-bottom-color: #29323d;
    border-bottom-right-radius: 0px;
    border-bottom-style: ridge;
    border-left-color: #29323d;
    border-left-style: groove;
    border-right-color: #29323d;
    border-right-style: groove;
    
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;*/
    float:left;
}

p {
  color: #29323d;
    padding: 2%;
    margin: 2%;
   
}

#black {
    color: #29323d;
    margin: 0% 5%;
}

a[href^="tel:"]:before {
    content: "\260E";
    display: block;
    margin: 0%;
    color: #3b4859;
}

footer {
  color: #29323d;
    font-size:0.5em;
    margin: 55% 25% 0% 44%;
  }