.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
    
/* unvisited link */
a:link {
    color: #f6f7f9;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #669999;
    text-decoration: none;
}

/* mouse over link 
a:hover {
    color: #33CCCC;
    text-decoration: underline;
}*/

/* selected link 
a:active {
    color: #33CCCC;
    text-decoration: underline;
}   */   

.headerWrapperHome {
    width: 100%;
    height: 120px;
    margin: 2%;
    background-color: #f6f7f9;
    border-color: #000;
}

#logo {
    width: 100%;
    height: auto;
}




/*h1 {
    color: #29323d;
    float:left;
    margin-right: 2.5%;
    margin-left:2.5%;
    margin-bottom: 0%;
    font-size: 4.5em;
}*/

.socialMediaIconsFirst {
    max-height: 181px;
    width:auto;
    margin: 80px 10px 0px 50px;
}

.socialMediaIcons {
    max-height: 181px;
    width:auto;
    margin: 80px 10px 0px 10px;
    
}
    
.headerWrapperHome img {
    height: 20px;
    width:auto;
    
}
body {
    width:100%;
    height: 80%;
    margin: 0%;
     padding:0%;
    background-color: #f6f7f9;
    border-color: #000;
    border-radius: 0px;
    
}



#mainBackground {
    width: 100%;
    height: auto;
    margin: 0% ;
    padding:0%;
    /*background-image: url("https://raw.githubusercontent.com/sands33/Blackfish/master/images/image1.jpg");*/
    border-bottom-color: #29323d;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#homeImage {
    width: 100%;
    height: auto;
}

.navBarHome {
    width: 100%;
    height: 15%;
    margin: 0% 0% 0% 0% ;
    background-color: #3b4859;
    border-color: #000;
    float:left;
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navBarHome h3{
    font-size: 1.5em;
    color: #f6f7f9
}

.navBarFirst {
    width:9%;
    height:100%;
    margin:4% 7.5% 0% 7.5%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarSecond {
    width:9%;
    height:100%;
    margin:3% 7.5% 0% 2%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarThird {
    width:9%;
    height:100%;
    margin:1.5% 7.5% 0% 2%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarForth {
    width:9%;
    height:100%;
    margin:4% 5% 0% 5%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBarFifth {
    width:9%;
    height:100%;
    margin:4% 0% 0% 1%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

/*.sideBarTop {
    width: 25%;
    height: auto;
    margin: 0% 2.5% 0% 72.5%;
    background-color: #3b4859;
    border-color: #000;
   
    border-bottom-right-radius: 0px;
    float:left;
}*/
    
#headline {
    font-size: 3.75em;
}

#first {
    font-size: 1.5em;
}

#galleryThumb {
   width: 90%;
   margin: 5%;
    border-radius: 5px;
   
}

p {
    color: #f6f7f9;
    margin:0%;
    padding: 10% 2% 2% 2%;
}
    
.sideBarBottom {
    width: 100%;
    height: auto;
    margin: 0% ; 
    background-color: #f5c9a8;
    border-top-color: #29323d;
    border-top-style: ridge;
    border-bottom-color: #29323d;
    border-bottom-style: ridge;
    border-left-color: #29323d;
    border-left-style: groove;
    border-right-color: #29323d;
    border-right-style: groove;
    /*border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    float:left;
}

p {
  color: #29323d;
    padding: 2%;
    margin: 2%;
   
}

.copy {
  color: #29323d;
    font-size:0.5em;
    margin: 33% 25% 0% 44%;
  
}