.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
    

.headerWrapperHome {
    width: 100%;
    height: 120px;
    margin: 2%;
    background-color: #f6f7f9;
    border-color: #000;
    
}

h1 {
    color: #29323d;
    float:left;
    margin-right: 2.5%;
    margin-left:2.5%;
    margin-bottom: 0%;
    font-size: 4.5em;
}

.socialMediaIconsFirst {
    max-height: 181px;
    width:auto;
    margin: 80px 10px 0px 50px;
}

.socialMediaIcons {
    max-height: 181px;
    width:auto;
    margin: 80px 10px 0px 10px;
    
}
    
.headerWrapperHome img {
    height: 20px;
    width:auto;
    
}
body {
    width:100%;
    height: 80%;
    margin: 10% 2% 2% 2%;
    background-color: #f6f7f9;
    border-color: #000;
    border-radius: 20px;
    
}



#mainBackground {
    width: 900px;
    height: 500px;
    margin: 2%;
    background-image: url("http://www.hickerphoto.com/images/1024/whales-fog-54289.jpg");
    border-bottom-color: #29323d;
    border-bottom-style: solid;
    border-bottom-width: 50px;
    border-radius: 20px;
    
}

.navBarHome {
    width: 100%;
    height: 15%;
    margin: 0% 0% 0% 0% ;
    background-color: #3b4859;
    border-color: #000;
    float:left;
    background-image: url("https://raw.githubusercontent.com/sands33/Blackfish/master/images/blackfish_background.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navBarHome h3{
    font-size: 2em;
}

.navBarFirst {
    width:17.5%;
    height:100%;
    margin:2.5% 2% 0% 10%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.navBar {
    width:17.5%;
    height:100%;
    margin:2.5% 2% 0% 2%;
    border-left-color: #000;
    float:left;
    color: #29323d;
}

.sideBarTop {
    width: 25%;
    height: auto;
    margin: 0% 2.5% 0% 72.5%;
    background-color: #3b4859;
    border-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float:left;
    background-image: url("http://www.stockvault.net/blog/wp-content/uploads/2011/01/free_texture_friday_37-1024x730.jpg");
}

#first {
    font-size: 2em;
}

#galleryThumb {
   width: 90%;
   margin: 5%;
    border-radius: 5px;
   
}

p {
    color: #f6f7f9;
    margin:2%;
    padding: 10% 2% 2% 2%;
}
    
.sideBarBottom {
    width: 15%;
    height: 50%;
    margin: 2.5% 2.5% 0% 79%; 
    background-color: #29323d;
    border-top-color: #f6f7f9;
    border-top-right-radius: 50px;
    border-top-style: ridge;
    border-right-color: #f6f7f9;
    border-right-style: groove;
    float:left;
}

p {
  color: #f6f7f9;
}

.copy {
  color: #29323d;
    font-size:0.5em;
    margin: 20% 25% 0% 38%;
  
}